/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5db6dc;
    background:url(./image/Steamer.mp4);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.image{
    /* align-items: center; */
    margin-left :130px;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #edf0f4;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 5px 7px 10px 4px rgba(226, 27, 21, 0.1);
    margin-left: 40%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #d02512;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
}
